* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  color: rosybrown;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
}

p {
  font-weight: 200;
}
h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}
body {
  background: #222222;
  overflow-y: hidden;
}
//animations
@import "./helpers/animations";
//navigation
@media (min-width: 900px) {
  @import "./navbar/navbar-large";
}
@media (max-width: 600px) {
  @import "./navbar/navbar";
}
@media (min-width: 600px) and (max-width: 900px) {
  @import "./navbar/navbar-medium";
}

//pages
@media (min-width: 900px) {
  @import "./homepage/homepage-large";
  @import "./gallerypage/gallery-large";
  @import "./contactpage/contact-large";
  @import "./pricingpage/pricing-large";
  @import "./servicespage/services-large";
  @import "./aboutpage/about-large";
}
@media (max-width: 600px) {
  @import "./homepage/homepage";
  @import "./gallerypage/gallery";
  @import "./contactpage/contact";
  @import "./pricingpage/pricing";
  @import "./servicespage/services";
  @import "./aboutpage/about";
}

@media (min-width: 600px) and (max-width: 900px) {
  @import "./homepage/homepage-medium";
  @import "./gallerypage/gallery-medium";
  @import "./contactpage/contact-medium";
  @import "./pricingpage/pricing-medium";
  @import "./servicespage/services-medium";
  @import "./aboutpage/about-medium";
}
