body {
    background: #222222;
    overflow-x: hidden;
  }
.pricing-menu{
    display: flex;
    margin: 1em auto;
   padding: 1em;
    min-height: fit-content;
  
    justify-content: space-between;
}
.pricing-menu:last-of-type{
    margin-bottom: 10em;
}
.price-single{
    flex-basis: 33%;
    margin-bottom: 1em;
    border: 1px solid rosybrown;
    position: relative;
    min-height: fit-content;
    //subject to change
    height: 550px;      
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba($color: #000000, $alpha: .75);
        .overlay-header{
            padding: 0.25em;
            font-size: 2rem;
            text-align: center;
            background: rosybrown;
            color: white;
            text-shadow: 1px 1px 1px black;
        }
        .price{
            font-size:1.2rem;
            list-style: none;
            display: flex;
            justify-content: space-between;   
            padding: 0em 0.2em;
            padding-top: 0.7em;
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
   
} 